/vendor
/.vagrant
phpunit.xml
/Homestead.json
/after.sh
/aliases
/mysqldump.sql.gz
/mysql_backup
/postgres_backup
/user-customizations.sh
.phpunit.result.cache
wsl-init.log
.backup/*
.DS_Store
.idea
/code
/data/1panel/apps/ollama/ollama/.env
/data/1panel/apps/ollama/ollama/data.yml
/data/1panel/apps/ollama/ollama/docker-compose.yml
/data/1panel/apps/ollama/ollama/ollama-0.19.0.tar.gz
/data/1panel/db/agent.db
/data/1panel/db/agent.db-shm
/data/1panel/db/agent.db-wal
/data/1panel/db/alert.db
/data/1panel/db/alert.db-shm
/data/1panel/db/alert.db-wal
/data/1panel/db/core.db
/data/1panel/db/core.db-shm
/data/1panel/db/core.db-wal
/data/1panel/db/gpu_monitor.db
/data/1panel/db/gpu_monitor.db-shm
/data/1panel/db/gpu_monitor.db-wal
/data/1panel/db/monitor.db
/data/1panel/db/monitor.db-shm
/data/1panel/db/monitor.db-wal
/data/1panel/db/session.db
/data/1panel/db/task.db
/data/1panel/db/task.db-shm
/data/1panel/db/task.db-wal
/data/1panel/db/xpack.db
/data/1panel/db/xpack.db-shm
/data/1panel/db/xpack.db-wal
/data/1panel/geo/GeoIP.mmdb
/data/1panel/log/task/App/c230c297-969d-4b42-9c84-80c444e7255c.log
/data/1panel/log/task/AppStore/946118fa-f82e-490c-ba0d-4b7a32375628.log
/data/1panel/log/task/ScriptLibrary/4d3b40f1-1858-4c73-8e34-3c5584437936.log
/data/1panel/log/1Panel.log
/data/1panel/log/1Panel-Core.log
/data/1panel/resource/apps/remote/ollama/0.19.0/data.yml
/data/1panel/resource/apps/remote/ollama/0.19.0/docker-compose.yml
/data/1panel/resource/apps/remote/ollama/0.19.0/ollama-0.19.0.tar.gz
/data/1panel/resource/icon/app_2fauth.png
/data/1panel/resource/icon/app_act_runner.png
/data/1panel/resource/icon/app_adguardhome.png
/data/1panel/resource/icon/app_adminer.png
/data/1panel/resource/icon/app_affine.png
/data/1panel/resource/icon/app_alist.png
/data/1panel/resource/icon/app_answer.png
/data/1panel/resource/icon/app_audiobookshelf.png
/data/1panel/resource/icon/app_beszel.png
/data/1panel/resource/icon/app_bettafish.png
/data/1panel/resource/icon/app_bitwarden.png
/data/1panel/resource/icon/app_bytebase.png
/data/1panel/resource/icon/app_caddy.png
/data/1panel/resource/icon/app_calibre-web.png
/data/1panel/resource/icon/app_casdoor.png
/data/1panel/resource/icon/app_changedetectionio.png
/data/1panel/resource/icon/app_clickhouse.png
/data/1panel/resource/icon/app_cloudbeaver.png
/data/1panel/resource/icon/app_cloudflared.png
/data/1panel/resource/icon/app_code-server.png
/data/1panel/resource/icon/app_consul.png
/data/1panel/resource/icon/app_convertx.png
/data/1panel/resource/icon/app_copaw.png
/data/1panel/resource/icon/app_dashy.png
/data/1panel/resource/icon/app_dbhub.png
/data/1panel/resource/icon/app_discourse.png
/data/1panel/resource/icon/app_docker-registry.png
/data/1panel/resource/icon/app_dockge.png
/data/1panel/resource/icon/app_docmost.png
/data/1panel/resource/icon/app_dotnet.png
/data/1panel/resource/icon/app_drawio.png
/data/1panel/resource/icon/app_dvwa.png
/data/1panel/resource/icon/app_elasticsearch.png
/data/1panel/resource/icon/app_emqx.png
/data/1panel/resource/icon/app_excalidraw.png
/data/1panel/resource/icon/app_filebrowser.png
/data/1panel/resource/icon/app_firefly-iii.png
/data/1panel/resource/icon/app_flarum.png
/data/1panel/resource/icon/app_focalboard.png
/data/1panel/resource/icon/app_forgejo.png
/data/1panel/resource/icon/app_forgejo-runner.png
/data/1panel/resource/icon/app_freshrss.png
/data/1panel/resource/icon/app_gatus.png
/data/1panel/resource/icon/app_ghost.png
/data/1panel/resource/icon/app_gitea.png
/data/1panel/resource/icon/app_gitlab.png
/data/1panel/resource/icon/app_glance.png
/data/1panel/resource/icon/app_go.png
/data/1panel/resource/icon/app_gotify.png
/data/1panel/resource/icon/app_grafana.png
/data/1panel/resource/icon/app_harness.png
/data/1panel/resource/icon/app_heimdall.png
/data/1panel/resource/icon/app_home-assistant.png
/data/1panel/resource/icon/app_homepage.png
/data/1panel/resource/icon/app_huginn.png
/data/1panel/resource/icon/app_influxdb.png
/data/1panel/resource/icon/app_it-tools.png
/data/1panel/resource/icon/app_jaeger.png
/data/1panel/resource/icon/app_java.png
/data/1panel/resource/icon/app_jellyfin.png
/data/1panel/resource/icon/app_jenkins.png
/data/1panel/resource/icon/app_jsonhero.png
/data/1panel/resource/icon/app_jumpserver.png
/data/1panel/resource/icon/app_jupyter-notebook.png
/data/1panel/resource/icon/app_kafka.png
/data/1panel/resource/icon/app_keycloak.png
/data/1panel/resource/icon/app_komga.png
/data/1panel/resource/icon/app_langflow.png
/data/1panel/resource/icon/app_localai.png
/data/1panel/resource/icon/app_logto.png
/data/1panel/resource/icon/app_maddy-mail.png
/data/1panel/resource/icon/app_mailserver.png
/data/1panel/resource/icon/app_manticoresearch.png
/data/1panel/resource/icon/app_mariadb.png
/data/1panel/resource/icon/app_maxkb.png
/data/1panel/resource/icon/app_meilisearch.png
/data/1panel/resource/icon/app_memcached.png
/data/1panel/resource/icon/app_memos.png
/data/1panel/resource/icon/app_metabase.png
/data/1panel/resource/icon/app_minio.png
/data/1panel/resource/icon/app_mkdocs-material.png
/data/1panel/resource/icon/app_mongo-express.png
/data/1panel/resource/icon/app_mongodb.png
/data/1panel/resource/icon/app_mssql.png
/data/1panel/resource/icon/app_mysql.png
/data/1panel/resource/icon/app_mysql-cluster.png
/data/1panel/resource/icon/app_n8n.png
/data/1panel/resource/icon/app_navidrome.png
/data/1panel/resource/icon/app_neo4j.png
/data/1panel/resource/icon/app_newsnow.png
/data/1panel/resource/icon/app_nextcloud.png
/data/1panel/resource/icon/app_nexus.png
/data/1panel/resource/icon/app_nginx-proxy-manager.png
/data/1panel/resource/icon/app_nocobase.png
/data/1panel/resource/icon/app_nocodb.png
/data/1panel/resource/icon/app_node.png
/data/1panel/resource/icon/app_node-exporter.png
/data/1panel/resource/icon/app_node-red.png
/data/1panel/resource/icon/app_nodebb.png
/data/1panel/resource/icon/app_ntfy.png
/data/1panel/resource/icon/app_obsidian_livesync.png
/data/1panel/resource/icon/app_odoo.png
/data/1panel/resource/icon/app_ollama.png
/data/1panel/resource/icon/app_ollama-webui.png
/data/1panel/resource/icon/app_onedev.png
/data/1panel/resource/icon/app_onlyoffice.png
/data/1panel/resource/icon/app_openclaw.png
/data/1panel/resource/icon/app_opengist.png
/data/1panel/resource/icon/app_openldap.png
/data/1panel/resource/icon/app_openlitespeed.png
/data/1panel/resource/icon/app_openresty.png
/data/1panel/resource/icon/app_openvpn.png
/data/1panel/resource/icon/app_outline.png
/data/1panel/resource/icon/app_palworld.png
/data/1panel/resource/icon/app_palworld-server-tool.png
/data/1panel/resource/icon/app_pgadmin4.png
/data/1panel/resource/icon/app_photoprism.png
/data/1panel/resource/icon/app_php.png
/data/1panel/resource/icon/app_phpmyadmin.png
/data/1panel/resource/icon/app_planka.png
/data/1panel/resource/icon/app_portainer-ce.png
/data/1panel/resource/icon/app_postgresql.png
/data/1panel/resource/icon/app_postgresql-cluster.png
/data/1panel/resource/icon/app_prometheus.png
/data/1panel/resource/icon/app_python.png
/data/1panel/resource/icon/app_qbittorrent.png
/data/1panel/resource/icon/app_rabbitmq.png
/data/1panel/resource/icon/app_redis.png
/data/1panel/resource/icon/app_redis-cluster.png
/data/1panel/resource/icon/app_redis-commander.png
/data/1panel/resource/icon/app_redpanda-console.png
/data/1panel/resource/icon/app_rocketmq.png
/data/1panel/resource/icon/app_roundcube.png
/data/1panel/resource/icon/app_rustdesk.png
/data/1panel/resource/icon/app_rustfs.png
/data/1panel/resource/icon/app_screego.png
/data/1panel/resource/icon/app_sftpgo.png
/data/1panel/resource/icon/app_sonarqube.png
/data/1panel/resource/icon/app_stalwart-mail.png
/data/1panel/resource/icon/app_starrocks.png
/data/1panel/resource/icon/app_stirling-pdf.png
/data/1panel/resource/icon/app_synapse.png
/data/1panel/resource/icon/app_teable.png
/data/1panel/resource/icon/app_teamspeak.png
/data/1panel/resource/icon/app_tomcat.png
/data/1panel/resource/icon/app_trendradar.png
/data/1panel/resource/icon/app_twenty.png
/data/1panel/resource/icon/app_typesense.png
/data/1panel/resource/icon/app_umami.png
/data/1panel/resource/icon/app_uptime-kuma.png
/data/1panel/resource/icon/app_verdaccio.png
/data/1panel/resource/icon/app_vllm.png
/data/1panel/resource/icon/app_wallos.png
/data/1panel/resource/icon/app_watchtower.png
/data/1panel/resource/icon/app_web-check.png
/data/1panel/resource/icon/app_wikijs.png
/data/1panel/resource/icon/app_windows.png
/data/1panel/resource/icon/app_wordpress.png
/data/1panel/resource/icon/app_yourls.png
/data/1panel/resource/icon/app_zabbix-agent.png
/data/1panel/resource/icon/app_zabbix-server.png
/data/1panel/resource/icon/app_zitadel.png
/data/1panel/resource/initscript/1panel-agent.init
/data/1panel/resource/initscript/1panel-agent.openrc
/data/1panel/resource/initscript/1panel-agent.procd
/data/1panel/resource/initscript/1panel-agent.service
/data/1panel/resource/initscript/1panel-core.init
/data/1panel/resource/initscript/1panel-core.openrc
/data/1panel/resource/initscript/1panel-core.procd
/data/1panel/resource/initscript/1panel-core.service
/data/1panel/resource/1panel.json
/data/1panel/resource/1panel.json.zip
/data/1panel/tmp/.secret
/data/1panel-v2.1.7-linux-amd64.tar.gz
